.main-page {
  margin-top: 130px;

  @media all and (max-width: 990px) {
    margin-top: 125px;
  }
}

.swiper-button-disabled {
  opacity: .6;
}

.woocommerce-pagination {
  ul.page-numbers {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      padding: 0 10px;
      border: none;

      &.current {
        background-color: transparent;
        font-weight: 600;
      }
    }
  }
}

.ti-widget.ti-goog {
  width: max-content !important;
  position: fixed;
  right: 0;
  z-index: 10;
  top: 310px;
  transition: transform .3s linear;
  @media all and (max-width: 576px) {
    top: 210px;
  }

  .ti-widget__hide {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 40px;
    left: -30px;
    font-weight: 600;
    transform: translateY(-50%);
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }

  .ti-widget-container {
    margin-bottom: 0 !important;
  }

  .ti-header {
    padding: 20px 16px;
  }

  .ti-large-logo {
    filter: grayscale(1);
    opacity: .6;
    margin-bottom: 20px !important;
  }

  .ti-rating {
    display: block;
    font-size: 32px !important;
    text-align: center;
    color: #C14312;
    margin-bottom: 8px;
    font-weight: 400 !important;
    background: transparent !important;
  }

  .ti-text {
    font-size: 10px !important;
    margin-top: 10px !important;
    text-align: center;

    strong {
      font-weight: 400 !important;
    }

  }
}

.ti-widget.ti-widget_hide {
  transform: translateX(100%);
}

.swiper-proposal {
  .swiper-slide {
    height: auto;
  }

  .left-arrow, .right-arrow {
    svg {
      width: 36px;
      height: 36px;

    }
  }

  .left-arrow {
    left: 100px !important;
    @media all and (max-width: 992px) {
      left: 60px !important;
    }
    @media all and (max-width: 767px) {
      display: none;
    }
  }

  .right-arrow {
    right: 100px !important;
    @media all and (max-width: 992px) {
      right: 60px !important;
    }
    @media all and (max-width: 767px) {
      display: none;
    }
  }
}

.toggle-accordion {
  &__header {
    svg {
      transform: scale(1, -1);
    }

    &.active {
      svg {
        transform: none;
      }
    }
  }
}

.tabs__footer {
  margin-top: 24px;

  .course_details_file {
    margin: 0 !important;
    border: 1px solid black;
    padding: 10px 20px;
    @media all and (max-width: 640px) {
      margin: 12px auto 0 !important;
    }
  }

  @media all and (max-width: 640px) {
    justify-items: center;
    button {
      margin: 0 auto;
    }
  }
}

.about-subcategory__text {
  ul {
    list-style: disc outside;
    margin-bottom: 30px;
    padding-left: 20px;

    li {

      font-size: 18px;
      font-weight: 400;
      line-height: 26px;

      @media screen and (max-width: 768px) {
        font-size: 16px;
      }

      span {
        background-color: #C14312;
        width: 8px;
        height: 8px;
        display: inline-block;
        border-radius: 50%;
        margin-right: 12px;

      }


    }

    li::marker {
      color: #9d0128;
    }
  }

}
