:root {
  --main: #FEF9F1;

  --black: #1F1F1F;

  --white: #FFF;
  --btn: #C14312;
  --border: #B34C25;
  --violet: #B34C25;



  --red: #9D0128;
  --light-black: #333333;


  --gradient: linear-gradient(227deg, #F0E9E9 0.82%, #E8EBEF 50.51%);
}