$maxWidth: 1440;
$minWidth: 375;
$mainFont: CeraPro;
$DM-Sans-font:"DM Sans", sans-serif;
$mainWeight: 400;
$fontFamily: $DM-Sans-font, sans-serif;
$fontColor: var(--black);
$fontWeight: $mainWeight;
$standartTrans: all 280ms ease-in-out 0ms;